{% load static %}


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>REGISTRATION | MOOD</title>
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href={% static 'css/all.css' %}"">
<!--<link rel="stylesheet" type="text/css" href="css/registration-mood.css">-->

<link rel="stylesheet" type="text/css" href="{% static 'css/custom-style.css' %}">

<script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script> 

<script	type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
<div class="container-fluid w-100">
  <div class="row center-scroll row-height">
    <nav class="navbar navbar-expand-lg navbar-light w-100 login-header bg-gray fixed-top">
      <div class="navbar-brand w-50 mood-logo"><img src="{% static 'img/mood-png.png' %}" alt=""></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse pb-2" id="navbarSupportedContent">
        <input type="text" class="form-control m-2 width forgot-pswd" id="email" placeholder="Email or Phone Number">
        <div class="width m-2 pswd">
          <input type="password" class="form-control forgot-pswd" id="password" placeholder="Password">
          <p class="text-dark">Forgot Password ?</p>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-primary my-2 my-sm-0 m-2 btn1 bg-dark border-0" type="submit">Login</button>
        </form>
      </div>
    </nav>
    <div class="card login-height registration-card">
      <div class="card-body registration-body">
        <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="form-group d-flex mt-3">
            <input type="text" class="form-control m-1 p-2 bg-gray" placeholder="First Name" name="first_name" required>
            <input type="text" class="form-control m-1 p-2 bg-gray" placeholder="Last Name" name='last_name' required>
          </div>
          <div class="form-group d-flex">
            <input type="text" class="form-control m-1 p-2 bg-gray" placeholder="Mobile Number" name="phone">
            <input type="email" class="form-control m-1 p-2 bg-gray" placeholder="Email" name="email" id="email2" required>
          </div>
          <div class="form-group d-flex bg-gray details-group m-1 mt-3" style="border-radius: 6px;">
            <label for="Email" class="col-sm-2 col-3 col-form-label p-2 m-1">Category</label>
            <div class="gender d-flex col-sm-10 col-9 pt-2">
              <div class="form-check d-flex pl-4 col-md-3 col-sm-3 col-12">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="1" checked>
                <label class="form-check-label p-0" for="inlineRadio5">Single</label>
              </div>
              <div class="form-check d-flex pl-4 col-md-3 col-sm-3 col-12">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="2">
                <label class="form-check-label p-0" for="inlineRadio6">Couple</label>
              </div>
              <div class="form-check d-flex pl-4 col-md-3 col-sm-3 col-12">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="3">
                <label class="form-check-label p-0" for="inlineRadio7">Widower</label>
              </div>
              <div class="form-check d-flex pl-4 col-md-3 col-sm-3 col-12">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="4">
                <label class="form-check-label p-0" for="inlineRadio8">Divorced</label>
              </div>
            </div>
          </div>
          <div class="form-group d-flex bg-gray details-group m-1 mt-3" style="border-radius: 6px;">
            <label for="Email" class="col-sm-2 col-3 col-form-label p-2 m-1">Gender</label>
            <div class="gender d-flex col-sm-10 col-9 pt-2">
              <div class="form-check d-flex pl-4 col-md-3 col-sm-3 col-12">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="1">
                <label class="form-check-label p-0" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check d-flex pl-4 col-md-3 col-sm-3 col-12">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="2">
                <label class="form-check-label p-0" for="inlineRadio2">Female</label>
              </div>
              <div class="form-check d-flex pl-4 col-md-3 col-sm-3 col-12">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio3" value="3">
                <label class="form-check-label p-0" for="inlineRadio3">Transgenders</label>
              </div>
              <div class="form-check d-flex pl-4 col-md-3 col-sm-3 col-12">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio4" value="4" checked>
                <label class="form-check-label p-0" for="inlineRadio4">Not To Say</label>
              </div>
            </div>
          </div>
          <div class="form-group d-flex details-group dob m-1">
            <div class="add col-6 p-0 mt-4">
              <label for="upload" class="col-12 col-form-label p-2 m-1 bg-gray"><i class="fas fa-photo-video pr-2"></i>Upload latest Photo</label>
              <input type="file" id="upload" name="file" accept=".jpg,.jpeg.,.gif,.png,.mov,.mp4" required>
            </div>
             <div class="preview"><img class="rounded-circle preview w-25 ml-2" src="img/DENTOL black.png" alt=""> </div>
            {% comment %} <div class="col-6 mt-3 preview"><img src="{% static 'img/g1.jpg' %}" alt="" class="rounded-circle"></div> {% endcomment %}
          </div>
          <div class="form-group d-flex">
            <input type="text" class="form-control m-1 p-2 bg-gray" placeholder="User Name" name="username" id="phoneno" required>
            <input type="password" class="form-control m-1 p-2 bg-gray" placeholder="Password" name="password1" required>
          </div>
          <div class="col-12 buttons mt-4 pb-5 text-center">
            <button class="btn btn-primary my-2 my-sm-0 m-2 btn1 bg-dark border-0" type="submit" id="submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $('#submit-btn').on('click',function(){
        $(".errorcpsw").hide()


        var password  = $('#password1').val();
        var cpassword  = $('#password2').val();

        if (password != cpassword){


            $('#password2').after('<span class="errorcpsw" style="color:red">Password Mismatch</span>');



            return false;


        }


    })


$('#email2').keyup(function(){


        var email= $('#email2').val();

            if(email!=""){

                    $.ajax({

                        url : '{% url 'check_email_exist' %}',
                        type : 'POST',
                        data : {email:email},
                    })
                    .done(function(response){

                         if(response == 'True'){
                         $('#email-error').hide();
                         $( "#email2" ).after( '<span id="email-error" style="color:red">Email Already Used</span>' );
                         $("#submit-btn").attr("disabled", true)
                         }else{
                           $('#email-error').hide();
                           $("#submit-btn").removeAttr("disabled")
                         }

                })

                    }


})

$('#phoneno').keyup(function(){


        var phoneno= $('#phoneno').val();

            if(phoneno!=""){


                    $.ajax({


                        url : '{% url 'check_phone_exist' %}',
                        type : 'POST',
                        data : {'phoneno':phoneno},
                    })
                    .done(function(response){
                    console.log(response);

                         if(response == 'True'){
                         $('#phoneno-error').hide();
                         $( "#phoneno" ).after( '<span id="phoneno-error" style="color:red">username Already exist</span>' );
                         $("#submit-btn").attr("disabled", true)
                         }else{
                           $('#phoneno-error').hide();
                           $("#submit-btn").removeAttr("disabled")
                         }

                })

                    }


})





  
 


</script>
<script>



    // Hide submenus
    $('#body-row .collapse').collapse('hide');

    // Collapse/Expand icon
    $('#collapse-icon').addClass('fa-angle-double-left');

    // Collapse click
    $('[data-toggle=sidebar-colapse]').click(function () {
        SidebarCollapse();
    });

    function SidebarCollapse() {
        $('.menu-collapsed').toggleClass('d-none');
        $('.sidebar-submenu').toggleClass('d-none');
        $('.submenu-icon').toggleClass('d-none');
        $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');

        // Treating d-flex/d-none on separators with title
        var SeparatorTitle = $('.sidebar-separator-title');
        if (SeparatorTitle.hasClass('d-flex')) {
            SeparatorTitle.removeClass('d-flex');
        } else {
            SeparatorTitle.addClass('d-flex');
        }

        // Collapse/Expand icon
        $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');

    }

    document.getElementById('upload').addEventListener('change', function (event) {
      console.log('gjkhgjhkg')
        var file = event.target.files[0];
        var fileReader = new FileReader();
        if (file.type.match('image')) {
            fileReader.onload = function (event) {
                $('.preview').attr('src', event.target.result);
            };
            fileReader.readAsDataURL(file);
        } else {
            fileReader.onload = function () {

                var blob = new Blob([fileReader.result], {type: file.type});
                var url = URL.createObjectURL(blob);
                // console.log(url);
                var video = document.createElement('video');
                var timeupdate = function () {
                    if (snapImage()) {
                        video.removeEventListener('timeupdate', timeupdate);
                        video.pause();
                    }
                };
                video.addEventListener('loadeddata', function () {
                    if (snapImage()) {
                        video.removeEventListener('timeupdate', timeupdate);
                    }
                });
                var snapImage = function () {
                    var canvas = document.createElement('canvas');
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                    var image = canvas.toDataURL();
                    var success = image.length > 100000;
                    if (success) {
                        var img = document.createElement('img');
                        img.src = image;
                        // document.getElementsByTagName('div')[0].appendChild(img);
                        $('.preview').attr('src', image);
                        URL.revokeObjectURL(url);
                    }
                    return success;
                };
                video.addEventListener('timeupdate', timeupdate);
                video.preload = 'metadata';
                video.src = url;
                // Load video in Safari / IE11
                video.muted = true;
                video.playsInline = true;
                video.play();
            };
            fileReader.readAsArrayBuffer(file);
        }
    });



</script>
</div>
</body>
</html>



{% comment %} <!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REGISTRATION | BYHAND</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/byhand.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
<div class="container-fluid w-100">
    <form action="#">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100 login-header">
                <div class="navbar-brand w-50"><img src="img/DENTOL.png" alt=""></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse pb-2" id="navbarSupportedContent">
                    <input type="text" class="form-control m-2 width" id="email" placeholder="Email or Phone Number" hidden>
                    <div class="width m-2 pswd">
                        <input type="password" class="form-control top" id="password" placeholder="Password" hidden>
                        <p hidden>Forgot Password ?</p>
                    </div>

                    <button class="btn btn-primary my-2 my-sm-0 m-2 btn1 w-25" type="submit">Login</button>
    </form>
</div>
</nav>
<div class="col-12 login-body">
    <form method="POST">
        {% csrf_token %}
        <div class="card reg pt-0">
            <h4>KAARMY</h4>
            <input type="email" class="form-control mt-3 ml-4 mr-4 email" id="email2" placeholder="Email" name="email"
                   required>
            <input type="text" class="form-control mt-3 ml-4 mr-4 email" id="phoneno" placeholder="Phone Number"
                   name="phone" required>
            <input type="password" class="form-control mt-3 ml-4 mr-4 email" id="password1" placeholder="Password"
                   name="password1" required>
            <input type="password" class="form-control mt-3 ml-4 mr-4 email" id="password2"
                   placeholder="Confirm Password" name="password2" required>
            <div class="col-12 buttons mt-4 mb-3 login">
                <button type="submit" class="btn btn-primary btn1 mb-3 w-50" id="submit-btn">Create Account</button>
            </div>

        </div>
</div>
</div>
</form>
</div>


</body>
</html> {% endcomment %}
