
.bg-gray {
  background-color: #e7e7e7 !important;
}
.login-header {
  width: 100%;
  height: auto !important;
  padding-top: 0;
  padding-bottom: 0;
}
.pswd p {
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 12px;
}
.login p {
  font-size: 12px;
}
.center-scroll {
  overflow-y: scroll !important;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
* {
  -ms-overflow-style: none !important;
}
/*Set the row height to the viewport*/
.row-height {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  opacity: 1;
  padding: 0;
  padding-bottom: 6rem;
}
.register {
  width: 100%;
  height: auto
}
.register h4 {
  text-align: center;
  color: #FFFFFF;
  margin-top: 10%;
  border-bottom: 2px solid #FFFFFF;
}
.register-as {
  display: flex;
}
.register-as2 {
  display: flex;
  /*	margin: 0 20%;*/
}
.register-all {
  width: 100%;
  max-width: 32% !important;
  height: 120px;
  background: #FFFFFF;
  margin: 30px 10px 10px 10px !important;
  text-align: center;
  padding-top: 2.5rem !important;
  border-radius: 12px;
  border: 1px solid #848484;
}
.register-all2 {
  max-width: 32% !important;
  height: 120px;
  background: #FFFFFF;
  /*	margin: 30px 10px 10px 10px!important;*/
  text-align: center;
  padding-top: 2.5rem !important;
  border-radius: 12px;
  border: 1px solid #848484;
  margin: 0 auto;
}
.mr {
  margin-right: 1% !important;
}
.ml {
  margin-left: 1% !important;
}
.reg {
  width: 40% !important;
}
.reg h4 {
  color: #324FAD;
/*  margin-top: 10%;*/
  font-weight: bold;
}
.reg-std {
  width: 40% !important;
}
.reg-std h4 {
  color: #324FAD;
/*  margin-top: 3%;*/
  font-weight: bold;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}
.header {
  margin-top: 8% !important;
}
.fields {
  padding-bottom: 20px;
}
.edit {
  margin-top: 20px;
  padding-right: 20px;
}

.email {
  width: auto !important;
  color: #6E6E6E;
}
.login {
  text-align: center;
  margin-top: 10px;
}
.images i {
  margin: 10px;
	font-size: 30px;
}
.btn1 {
  border-radius: 12px;
  padding: 5px !important;
	background-color: #000;
  outline: none;
  border: none;
}
.bg-blue {
  background-color: #4381c3;
}
.icon img{
	width: 15%;
}

@media (max-width: 1200px) {
  /*
  .card {
    width: 50% !important;
  }
*/
  .card-header {
    font-size: 15px !important;
  }
  .form-group {

    display: block !important;
  }
  .name {
    font-size: 14px !important;
  }
  .register-all2 {
    max-width: 32% !important;
    margin: 0 auto;
  }
	.login-card{
		width: 30%;
	}
}
@media (max-width: 992px) {
  .width {
    width: 50%;
  }
  .card {
    width: 50% !important;
  }
  .card-header {
    font-size: 11px !important;
  }
  .form-group {
    display: block !important;
  }
  .name {
    font-size: 14px !important;
  }
}
@media (max-width: 767px) {
  .card {
    width: 50% !important;
  }
  .card-header {
    font-size: 11px !important;
  }
  .form-group {
    display: block !important;
  }
  #emailHelp {
    font-size: 12px !important;
  }
  .name {
    font-size: 14px !important;
  }
  .register-as {
    display: block;
  }
  .register-all {
    max-width: 60% !important;
    margin: 5% auto !important;
  }
  .register-all2 {
    max-width: 60% !important;
    margin: 5% auto !important;
  }
  .register-as2 {
    display: block;
    margin: 0 !important;
  }
  .mem {
    text-align: left !important;
/*    margin-left: 4%;*/
  }
  .std {
    text-align: left !important;
/*    margin-left: 5%;*/
  }
  .mem h2 {
    margin-left: 15px;
  }
  .std h2 {
    margin-left: 10px;
  }
}
@media (max-width: 576px) {
  .card {
    width: 75% !important;
  }
  .card-header {
    font-size: 12px !important;
  }
  .form-group {
    display: block !important;
  }
  /*
    .form-control {
      width: 31rem !important;
		
    }
*/
  #emailHelp {
    font-size: 9px !important;
  }
  .name {
    font-size: 14px !important;
  }
  .mem img {
    width: 50%;
    margin-right: 50%;
  }
  .std img {
    width: 70%;
    margin-right: 30%;
  }
  .mem h2, .std h2 {
    text-align: left;
  }
	.mem h2 {
    margin-left: 0;
  }
  .std h2 {
    margin-left: 0;
  }
}
@media (max-width: 425px) {
  .card {
    width: 75% !important;
  }
  .card-header {
    font-size: 8px !important;
  }
  /*
    .form-control {
      width: 18rem !important;
		
    }
*/
  .name {
    font-size: 12px !important;
  }
  .btn {
    font-size: 10px !important;
  }
  #emailHelp {
    font-size: 9px !important;
  }
  .register-all {
    max-width: 100% !important;
  }
  .register-all2 {
    max-width: 100% !important;
  }
  .std img {
    width: 70%;
    margin-right: 30px;
  }
  .std h2, .mem h2 {
    text-align: left;
  }
  .mem img {
    width: 60%;
    margin-right: 65%;
  }
  .com h2, .mem h2, .std h2 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .card {
    width: 100% !important;
  }
  .card-header {
    font-size: 9px !important;
  }
  /*
	  .form-control {
      width: 15rem !important;
    }*/
  .btn {
    font-size: 10px !important;
  }
  #emailHelp {
    font-size: 9px !important;
  }
  .pswd p {
    font-size: 10px;
  }
  .std img {
    width: 60%;
    margin-right: 25px;
  }
  .mem img {
    width: 50%;
    margin-right: 50%;
  }
  .com h2, .mem h2, .std h2 {
    font-size: 15px;
  }
}